## Creating database

In [1]:
import mysql.connector
import csv

mydb=mysql.connector.connect(host="localhost",user="root",password="Addis123")

mycursor=mydb.cursor()

mycursor.execute("create database blood__donation")

## Creating the three tables

In [3]:
mydb=mysql.connector.connect(host="localhost",user="root",password="Addis123",database="blood__donation")

mycursor=mydb.cursor()



#mycursor.execute("DROP TABLE data_of_donor")
#mycursor.execute("DROP TABLE data_of_patient")
#mycursor.execute("DROP TABLE ata_of_blood_bank")

mycursor.execute("create table data_of_patient(id int auto_increment primary key,patient_name varchar(255),patient_blood_group varchar(255),patient_disease varchar(255))")

mycursor.execute("create table ata_of_blood_bank(blood_bank_name varchar(255) ,blood_bank_address varchar(255),donor_name varchar(255),donor_contact_number varchar(15) primary key)")
mycursor.execute("create table data_of_donor(id int auto_increment primary key,donor_name varchar(255),donor_blood_group varchar(255),donor_medical_report varchar(255),donor_address varchar(255),donor_contact_number varchar(15),CONSTRAINT fk_ata_of_blood_bank FOREIGN KEY (donor_contact_number) REFERENCES ata_of_blood_bank(donor_contact_number) ON UPDATE CASCADE ON DELETE CASCADE)")

## inserting data in the tables

In [4]:
use="INSERT INTO data_of_patient(id,patient_name,patient_blood_group,patient_disease) VALUES(%s,%s,%s,%s)"
val=[(1,"luvo","A","tuberculosis"),
    (2,"songezo","A","cancer"),
    (3,"wyn","O","diabetes"),
    (4,"lish","B","heart disease"),
    (5,"johanes","AB","kidney failure"),
    (6,"seyda","O","hearth disease")]

mycursor.executemany(use,val)
mydb.commit()


use="INSERT INTO ata_of_blood_bank(blood_bank_name,blood_bank_address,donor_name,donor_contact_number) VALUES(%s,%s,%s,%s)"
val=[("ziadoc blood bank","11 tokoza jhb","anele","0712223636"),
    ("marlin blood bank","23 grenendal cpt","john","0839168864"),
    ("worster blook bank","63 ruth first wst","andy","0690556472"),
    ("kapsta blood bank","14 mhlanga dbn","loyd","0829992511"),
    ("western cape bank","26 chris stainbeg","kodze","0739112526"),
    ("cape town blood bank","16 cecil cpt","zolani","0765344861")]

mycursor.executemany(use,val)
mydb.commit()


use="INSERT INTO data_of_donor(id,donor_name,donor_blood_group,donor_medical_report,donor_address,donor_contact_number) VALUES(%s,%s,%s,%s,%s,%s)"
val=[(1,"kodze","A","healthy","22 ruth belhar","0739112526"),
    (2,"john","A","diabetes","10 lower brakenfell","0839168864"),
    (3,"andy","O","healthy","66 casinga cpt","0690556472"),
    (4,"anele","AB","healthy","45 springs jhb","0712223636"),
    (5,"zolani","AB","healthy","28 kwamashu cpt","0765344861")]
    
mycursor.executemany(use,val)
mydb.commit()

## Data in the tables

In [4]:
import mysql.connector
import csv

mydb=mysql.connector.connect(host="localhost",user="root",password="Addis123",database="blood___donation")

mycursor=mydb.cursor()


print("Patient data")
mycursor.execute("select * from data_of_patient")
print("")
for i in mycursor:
    print(i)
    
print("")
print("Donor data")
mycursor.execute("select * from data_of_donor")
print("")
for i in mycursor:
    print(i)


print("")
print("Blood bank data")
mycursor.execute("select * from ata_of_blood_bank")
print("")
for i in mycursor:
    print(i)

Patient data

(1, 'luvo', 'A', 'tuberculosis')
(2, 'songezo', 'A', 'cancer')
(3, 'wyn', 'O', 'diabetes')
(4, 'lish', 'B', 'heart disease')
(5, 'johanes', 'AB', 'kidney failure')
(6, 'seyda', 'O', 'hearth disease')

Donor data

(1, 'kodze', 'A', 'healthy', '22 ruth belhar', '0739112526')
(2, 'john', 'A', 'diabetes', '10 lower brakenfell', '0839168864')
(3, 'andy', 'O', 'healthy', '66 casinga cpt', '0690556472')
(4, 'anele', 'AB', 'healthy', '45 springs jhb', '0712223636')
(5, 'zolani', 'AB', 'healthy', '28 kwamashu kzn', '0765344861')
(6, 'asanda', 'O', 'healthy', '76 magness jhb', '0796428545')

Blood bank data

('cape blood bank', '47 johhanes cpt', 'ACA', '0756482495')
('cape town blood bank', '16 cecil cpt', 'sinazo', '0621196294')
('kapsta blood bank', '14 mhlanga dbn', 'loyd', '0829992511')
('marlin blood bank', '23 grenendal cpt', 'john', '0839168864')
('western cape bank', '26 chris stainbeg', 'kodze', '0739112526')
('worster blook bank', '63 ruth first wst', 'andy', '0690556472')
('ziadoc blood bank', '11 tokoza jhb', 'anele', '0712223636')

## Patients with the same blood group

In [2]:
g=input("Please select blood type(A,B,AB,O):")

print("Patients with blood group",g.upper())
print("")

if g=="A" or g=="a":
    mycursor.execute("select donor_name,donor_contact_number from data_of_donor where donor_blood_group='A' ")
    for i in mycursor:
        print(i)

        
if g=="B" or g=="b":
    mycursor.execute("select donor_name,donor_contact_number from data_of_donor where donor_blood_group='B' ")
    for i in mycursor:
        print(i)
if g=="AB" or g=="ab":
    mycursor.execute("select donor_name,donor_contact_number from data_of_donor where donor_blood_group='AB' ")
    for i in mycursor:
        print(i)

if g=="O" or g=="o":
    mycursor.execute("select donor_name,donor_contact_number from data_of_donor where donor_blood_group='O' ")
    for i in mycursor:
        print(i)

Please select blood type(A,B,AB,O):o
Patients with blood group O

('andy', '0690556472')

## Patient matched with potential donors

* user enters a patiant name to check wich donors matches their blood type

In [5]:
sql="select patient_blood_group from data_of_patient where patient_name=%s "      
m=input("Enter name of patient to find potential donors: ")

print("")

print("Available donors:")
val=(m,)
mycursor.execute(sql,val)
r=mycursor.fetchall()

sql="select donor_name,donor_contact_number from data_of_donor where donor_blood_group=%s "      
val=(r[0])
mycursor.execute(sql,val)
for i in mycursor:
    print(i)

mydb.commit()

Enter name of patient to find potential donors: luvo

Available donors:
('kodze', '0739112526')
('john', '0839168864')

## Diseases and the number of patients in each

In [3]:
mycursor.execute("select patient_disease,COUNT(1) as num from data_of_patient group by patient_disease order by count(*) DESC")
for i in mycursor:
    print(i)

('tuberculosis', 2)
('cancer', 1)
('diabetes', 1)
('heart disease', 1)
('kidney failure', 1)
('hearth disease', 1)

## Adding record

* Adding to patients table

In [2]:
        mycursor.execute("select * from data_of_patient")
        print("")
        print("Current data of patients:")
        print("")
        for i in mycursor:
            print(i)

        print("")
        sql="INSERT INTO data_of_patient(id,patient_name,patient_blood_group,patient_disease) VALUES(%s,%s,%s,%s)"
        s=input("Enter patient id: ")
        m=input("Enter patient name: ")
        p=input("Enter patient blood group: ")
        p.upper()
        q=input("Enter patient disease: ")
        val=(s,m,p,q)
        mycursor.execute(sql,val)

        mycursor.execute("select * from data_of_patient")
        print("") 
        print("Updated patient data")
        print("")
        for i in mycursor:
            print(i)

        mydb.commit()

Current data of patients:

(1, 'luvo', 'A', 'tuberculosis')
(2, 'songezo', 'A', 'cancer')
(3, 'wyn', 'O', 'diabetes')
(4, 'lish', 'B', 'heart disease')
(5, 'johanes', 'AB', 'kidney failure')
(6, 'seyda', 'O', 'hearth disease')

Enter patient id: 7
Enter patient name: khaya
Enter patient blood group: B
Enter patient disease: tuberculosis

Updated patient data

(1, 'luvo', 'A', 'tuberculosis')
(2, 'songezo', 'A', 'cancer')
(3, 'wyn', 'O', 'diabetes')
(4, 'lish', 'B', 'heart disease')
(5, 'johanes', 'AB', 'kidney failure')
(6, 'seyda', 'O', 'hearth disease')
(7, 'khaya', 'B', 'tuberculosis')

* Adding to Ata blood bank table

In [ ]:
mycursor.execute("select * from ata_of_blood_bank")
print("")
print("Current ata of blood bank:")
print("")
for i in mycursor:
    print(i)

print("")
sql="INSERT INTO ata_of_blood_bank(blood_bank_name,blood_bank_address,blood_bank_donor_name,blood_bank_donor_contact_number) VALUES(%s,%s,%s,%s)"
s=input("Enter blood bank name: ")
m=input("Enter blood bank address: ")
p=input("Enter blood bank donors name: ").upper()
q=input("Enter blood bank donors contact number: ")

val=(s,m,p,q)
mycursor.execute(sql,val)
mycursor.execute("select * from ata_of_blood_bank")
print("") 
print("Updated blood bank data")
print("")
for i in mycursor:
    print(i)


mydb.commit()

Current ata of blood bank:

('cape blood bank', '47 johhanes cpt', 'ACA', '0756482495')
('cape town blood bank', '16 cecil cpt', 'sinazo', '0621196294')
('kapsta blood bank', '14 mhlanga dbn', 'loyd', '0829992511')
('marlin blood bank', '23 grenendal cpt', 'john', '0839168864')
('western cape bank', '26 chris stainbeg', 'kodze', '0739112526')
('worster blook bank', '63 ruth first wst', 'andy', '0690556472')
('ziadoc blood bank', '11 tokoza jhb', 'anele', '0712223636')

* Adding into Donor Table

In [2]:
mycursor.execute("select * from data_of_donor")
print("")
print("Current ata of blood bank:")
print("")
for i in mycursor:
    print(i)

print("")
sql="INSERT INTO data_of_donor(id,donor_name,donor_blood_group,donor_medical_report,donor_address,donor_contact_number) VALUES(%s,%s,%s,%s,%s,%s)"
k=input("Enter donor id: ")
s=input("Enter donor name: ")
m=input("Enter donor blood group: ")
p=input("Enter donor medical report: ")
h=input("Enter donor address: ")
q=input("Enter donor contact number: ")

val=(k,s,m,p,h,q)
mycursor.execute(sql,val)
mycursor.execute("select * from data_of_donor")
print("") 
print("Updated donor data")
print("")
for i in mycursor:
    print(i)


mydb.commit()

Current ata of blood bank:

(1, 'kodze', 'A', 'healthy', '22 ruth belhar', '0739112526')
(2, 'john', 'A', 'diabetes', '10 lower brakenfell', '0839168864')
(3, 'andy', 'O', 'healthy', '66 casinga cpt', '0690556472')
(4, 'anele', 'AB', 'healthy', '45 springs jhb', '0712223636')
(5, 'zolani', 'AB', 'healthy', '28 kwamashu kzn', '0765344861')

Enter donor id: 6
Enter donor name: asanda
Enter donor blood group: O
Enter donor medical report: healthy
Enter donor address: 76 magness jhb
Enter donor contact number: 0796428545

Updated donor data

(1, 'kodze', 'A', 'healthy', '22 ruth belhar', '0739112526')
(2, 'john', 'A', 'diabetes', '10 lower brakenfell', '0839168864')
(3, 'andy', 'O', 'healthy', '66 casinga cpt', '0690556472')
(4, 'anele', 'AB', 'healthy', '45 springs jhb', '0712223636')
(5, 'zolani', 'AB', 'healthy', '28 kwamashu kzn', '0765344861')
(6, 'asanda', 'O', 'healthy', '76 magness jhb', '0796428545')

## Deleting records

* deleting from patient data

In [4]:
mycursor.execute("select * from data_of_patient")
print("")
print("Current data of patients:")
print("")
for i in mycursor:
    print(i)
              
print("")
sql="delete from data_of_patient where patient_name=%s "      
m=input("Enter name of patient to delete from record: ")
val=(m,)
mycursor.execute(sql,val)

mycursor.execute("select * from data_of_patient")
print("") 
print("Updated patient data")
print("")
for i in mycursor:
    print(i)

mydb.commit()

Current data of patients:

(1, 'luvo', 'A', 'tuberculosis')
(2, 'songezo', 'A', 'cancer')
(3, 'wyn', 'O', 'diabetes')
(4, 'lish', 'B', 'heart disease')
(5, 'johanes', 'AB', 'kidney failure')
(6, 'seyda', 'O', 'hearth disease')
(7, 'khaya', 'B', 'tuberculosis')

Enter name of patient to delete from record: khaya

Updated patient data

(1, 'luvo', 'A', 'tuberculosis')
(2, 'songezo', 'A', 'cancer')
(3, 'wyn', 'O', 'diabetes')
(4, 'lish', 'B', 'heart disease')
(5, 'johanes', 'AB', 'kidney failure')
(6, 'seyda', 'O', 'hearth disease')

* deleting from blood bank data

In [15]:
mycursor.execute("select * from ata_of_blood_bank")
print("")
print("Current data of blood bank:")
print("")
for i in mycursor:
    print(i)
              
print("")
sql="delete from ata_of_blood_bank where donor_name=%s "      
m=input("Enter name of donor to delete from record: ")
val=(m,)
mycursor.execute(sql,val)

mycursor.execute("select * from ata_of_blood_bank")
print("") 
print("Updated data of blood bank")
print("")
for i in mycursor:
    print(i)

mydb.commit()

Current data of blood bank:

('worster blook bank', '63 ruth first wst', 'andy', '0690556472')
('ziadoc blood bank', '11 tokoza jhb', 'anele', '0712223636')
('western cape bank', '26 chris stainbeg', 'kodze', '0739112526')
('kapsta blood bank', '14 mhlanga dbn', 'loyd', '0829992511')
('marlin blood bank', '23 grenendal cpt', 'john', '0839168864')

Enter name of donor to delete from record: john

Updated data of blood bank

('worster blook bank', '63 ruth first wst', 'andy', '0690556472')
('ziadoc blood bank', '11 tokoza jhb', 'anele', '0712223636')
('western cape bank', '26 chris stainbeg', 'kodze', '0739112526')
('kapsta blood bank', '14 mhlanga dbn', 'loyd', '0829992511')